In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [45]:
df=pd.read_csv('BankNote_Authentication.csv')

In [46]:
df.shape

(1372, 5)

In [47]:
df.tail()

      variance  skewness  curtosis  entropy  class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [48]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [50]:
df['class'].value_counts()

0    762
1    610
Name: class, dtype: int64

In [51]:
X=df.iloc[:,:4]
y=df.iloc[:,-1]

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.30)

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
regressor=LogisticRegression()

In [56]:
regressor.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [57]:
y_pred=regressor.predict(x_test)

In [58]:
from sklearn.metrics import accuracy_score

In [59]:
score=accuracy_score(y_pred,y_test)

In [60]:
score

0.9854368932038835

In [61]:
from sklearn.ensemble import RandomForestClassifier

In [62]:
random_classifier=RandomForestClassifier()

In [63]:
random_classifier.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [64]:
random_pred=random_classifier.predict(x_test)

In [65]:
score2=accuracy_score(random_pred,y_test)

In [66]:
score2

0.9975728155339806

In [67]:
import pickle
pickle_out = open("classifiers.pkl","wb")
pickle.dump(random_classifier, pickle_out)
pickle_out.close()

In [68]:
random_classifier.predict([[0.4,1,-1.5,-0.6]])

array([1], dtype=int64)